@model WebApplicatationPollService.Models.ViewModels.UserProfileModelView
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/shared/_TableLayout.cshtml";
}

<h2>UserProfile</h2>

<div class="jumbotron">
    <p>@Model.User.UserName</p>
    @if (User.Identity.IsAuthenticated && (User.Identity.Name == Model.User.UserName || Model.IsAdmin)) {
        @foreach (var item in Model.User.CreatedPoll) {
            @Html.ActionLink(item.Question, "Home", new { item.Id })
            if (Model.IsAdmin) {
                @Html.BeginForm("DeletePoll", "Admin", FormMethod.Post) {
                    Html.AntiForgeryToken();
                    <input type="hidden" value="@item.Id" />
                    <input type="submit" value="delete" />
                }
            } else {
                @Html.BeginForm("DeletePoll", "User", FormMethod.Post) {
                    Html.AntiForgeryToken();
                    <input type="hidden" value="@item.Id" />
                    <input type="submit" value="delete" />
                }
            }
        }
    } else {
        foreach (var item in Model.User.CreatedPoll) {
            if (!string.IsNullOrEmpty(item.Password)) {
                @Html.ActionLink(item.Question, "Home", new { item.Id })
            }
        }
    }


</div>